@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,400,300');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e07e27;
  --primary-hover: #cc7324;
  --dark-bg: #0B0D10;
  --dark-header: #413c38;
  --text-dark: #333333;
  --text-light: #777777;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--text-dark);
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
